
    <link rel="stylesheet" href="/admin/dashboard.css">
  <!-- Sidebar -->
  <aside class="sidebar">
    <div class="logo">
      <img src="/images/logo.png" alt="Crave Logo">
    </div>
    <nav class="menu">
      <ul>
        <li><a>Dashboard</a></li>
        <li><a href="/admin/productManagement">Products</a></li>
        <li><a href="/admin/orders">Orders</a></li>
        <li><a href="/admin/customers">Customers</a></li>
        <li><a href="/admin/reports">Reports</a></li>
        <li><a href="/admin/settings">Settings</a></li>
    <li><a href="/admin/userManagement"> User Management</a></li>
      <li><a href="/admin/category"> Category</a></li>
  
      
      </ul>
    </nav>
  </aside>

