
    <link rel="stylesheet" href="/admin/dashboard.css">
  <!-- Sidebar -->
  <aside class="sidebar">
    <div class="logo">
     <a class="navbar-brand" href="index.html">CRAV<span style="font-weight:lighter;">E</span></a>
    </div>
    <nav class="menu">
      <ul>
        <li><a>Dashboard</a></li>
        <li><a href="/admin/productManagement">Products</a></li>
        <li><a href="/admin/orderManagement">Orders</a></li>
        <li><a href="/admin/couponManagement">Coupon</a></li>
        <li><a href="/admin/inventory">Inventory</a></li>
        <li><a href="/admin/offerManagement">Offers</a></li>
    <li><a href="/admin/userManagement"> User Management</a></li>
      <li><a href="/admin/category"> Category</a></li>
  
      
      </ul>
    </nav>
  </aside>

