
    <link rel="stylesheet" href="/user/css,js/css/login.css">

    <div class=" main-conainer container-fluid vh-100">
        <div class=" row">
<div class="big">
            <div class="col-md-6 d-flex flex-column justify-content-center align-items-center left-panel text-center text-white">
                <h2>CRAVE</h2>
                <p>Log in to discover a world of comfort and style, where the perfect sofa awaits you!</p>
            </div>
            <div class="col-md-6 d-flex flex-column justify-content-center align-items-center right-panel p-5">
                <h2>Verify OTP</h2>
                <form class="w-100">
                    <div class="form-group">
                        <label for="otp">One-Time Password</label>
                        <input class="form-control" type="text" id="otp" name="otp" required>
                    </div>
                   
            
                        <a href="#" class="forgot-password">Resend OTP?</a>
                   
                    <button type="submit" class="btn btn-dark mt-3">Verify OTP</button>
                </form>
            </div>
        </div>
        </div>
      
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

